<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--defining properties file-->
    <context:property-placeholder location="app.properties"/>

    <!-- This is used to configure baseball coach -->
    <!--<bean id="theCoach" class="in.advertiss.springcore.BaseBallCoach" />-->

    <!-- This is used to configure Track coach -->
    <bean id="fortuneService" class="in.advertiss.springcore.HappyFortuneService" />


    <bean id="theCoach" class="in.advertiss.springcore.TrackCoach" >
        <!--Constructor injection-->
        <constructor-arg ref="fortuneService"/>
    </bean>

    <bean id="theCoach2" class="in.advertiss.springcore.CricketCoach" >
        <!--Setter injection-->
        <property name="fortuneService"
                  ref="fortuneService"/>
    </bean>

    <!--injecting literals and reading values from properties file-->
    <bean id="theCoach3" class="in.advertiss.springcore.CricketCoach" >
        <!--Setter injection-->
        <property name="fortuneService"
                  ref="fortuneService"/>
        <property name="email"
                  value="${app.email}"/>
        <property name="team"
                  value="Team India"/>
    </bean>
</beans>





